@import "inuit.css/inuit";
@import "vars";

*, *:before, *:after{
	box-sizing: border-box;
}

h2, h3, h4{
	font-weight: 400;
}

.grid{
	margin-left: 0;
}

.grid__item{
	padding: 0;
}

.text-center{
	text-align: center;
}

.color-name{
	margin-bottom: 0.75rem;
}

.gold{
	background-color: $cru-primary;
}

.orange{
	background-color: $cru-secondary;
}

.blue-deep{
	background-color: $cru-accent-dark;
}

.blue-bright{
    background-color: $cru-accent-light;
}

.gray{
    background-color: $cru-gray;
}

.gray-darker{
    background-color: $gray-darker;
}

.gray-dark{
	background-color: $gray-dark;
}

.gray-light{
	background-color: $gray-light;	
}

.gray-lighter{
	background-color: $gray-lighter;
}



.color-block{
	display: block;
	height: 250px;
	float: left;
	text-align: center;
	color: #fff;
}

.holder{
	padding-top: 30px;
	padding-left: 2%;
	padding-right: 2%;
}

.text-dark{
	color: $gray-darker;
}

.hex{
	letter-spacing: 1.5px;
}

.palate{
	@extend .cf;
}

.mt3{
	margin-top: 18px;
}

@media all and (max-width: 780px){
    .color-name{
	    display: none;
    }


}

@media all and (max-width: 500px){
    .hex{
	    display: none;
    }


}



