/*------------------------------------*\
    $FONTS
\*------------------------------------*/
/**
 * Freight Sans Fonts
 */
@font-face { 
	font-family: "Freight Sans Pro"; 
	src: url('../fonts/FreigSanProLig.otf'); 
	font-weight: 100;
} 
@font-face { 
	font-family: "Freight Sans Pro"; 
	src: url('../fonts/FreigSanProBook.otf');
	font-weight: 300; 
}
@font-face { 
	font-family: "Freight Sans Pro"; 
	src: url('../fonts/FreigSanProMed.otf'); 
	font-weight: 400;
}
@font-face { 
	font-family: "Freight Sans Pro"; 
	src: url('../fonts/FreigSanProSem.otf'); 
	font-weight: 500;
}


@font-face {
	font-family: 'Leitura Roman';
	src: url('../fonts/Leitura-Roman.otf'); 
}


	//src: url('FreigSanPro.eot'); /* IE9 Compat Modes */
	//src: url('FreigSanPro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	//     url('FreigSanPro.woff') format('woff'), /* Modern Browsers */
	//     url('FreigSanPro.ttf')  format('truetype'), /* Safari, Android, iOS */
	//    url('FreigSanPro.svg#svgFontName') format('svg'); /* Legacy iOS */
