/*------------------------------------*\
    $SCAFFOLDING
\*------------------------------------*/

html{
	
}

body{
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	
	color: $base-font-color;
}