/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 * Sets up the basic variables for Cru branding for easy usage
 */




/*------------------------------------*\
    $INITIAL VARIABLE SETUP
\*------------------------------------*/
/**
 * Font Families
 */

$freight-sans-pro:'Freight Sans Pro';
$helvetica-neue: 'Helvetica Neue';
$fallback: Arial, Helvetica, sans-serif;

/**
 * Cool Colors
 */
$cru-deep-blue: #007398;
$cru-bright-blue: #3eb1c8;

/**
 * Warm Colors
 */ 
$cru-gold: #f9b625;
$cru-orange: #dd7d1b;

/** 
 * Grays
 */ 
$cru-gray: #666062;

$gray-darker: #333333;
$gray-dark: darken($cru-gray, 10%);
$gray: $cru-gray;
$gray-light: lighten($cru-gray, 50%);
$gray-lighter: lighten($cru-gray, 58%);





/*------------------------------------*\
    $FONT USAGE
\*------------------------------------*/
$base-font-family: $freight-sans-pro $helvetica-neue $fallback;
$base-font-weight: 300;

$numeral-font-family: $helvetica-neue $fallback;



/*------------------------------------*\
    $COLOR USAGE
\*------------------------------------*/
/*
* Body Font Color
*/
$base-font-color: $gray-darker;


/*
* Primary Colors 
*/
$cru-primary: $cru-gold;
$cru-gray: $cru-gray;
$white: #ffffff;

/*
* Secondary Colors
*/
$cru-secondary: $cru-orange;

/**
 * Accent Colors
 */
$cru-accent-light: $cru-bright-blue;
$cru-accent-dark: $cru-deep-blue;
